/Model/bin
/Model/obj
/Radio-Zing/.vs/Radio-Zing/FileContentIndex/*.vsidx
/Radio-Zing/.vs/Radio-Zing/v17/*.suo
/Radio-Zing/.vs/Radio-Zing/v17/*.json
/Radio-Zing/obj
/Radio-Zing/.vs
/Radio-Zing/bin
/.vs
/Components/bin
/Components/obj
/Lib/SharedMauiLib/bin
/Lib/SharedMauiLib/obj
/RadioZing/obj
/RadioZing/bin
